In [ ]:
#Q1. Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
!pip install Selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: Selenium in c:\users\dell\appdata\roaming\python\python310\site-packages (4.17.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python310\site-packages (from Selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python310\site-packages (from Selenium) (0.24.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from Selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from Selenium) (1.26.14)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\dell\appdata\roaming\python\python310\site-packages (from Selenium) (4.9.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.15.1)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (3.4)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\dell\appdata\roaming\python\python310\site-packages (from trio~=0.17->Selenium) (1.3.0)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (22.1.0)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python310\site-packages (from trio~=0.17->Selenium) (1.3.0.post0)
Requirement already satisfied: exceptiongroup in c:\users\dell\appdata\roaming\python\python310\site-packages (from trio~=0.17->Selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python310\site-packages (from trio-websocket~=0.9->Selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->Selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->Selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python310\site-packages (from wsproto>=0.14->trio-websocket~=0.9->Selenium) (0.14.0)

In [13]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [14]:
driver=webdriver.Chrome()

In [15]:
driver.get("https://www.shine.com/")

In [16]:
search = driver.find_element(By.XPATH,'//span[@class="btn"]')
search.click()

In [17]:
designation = driver.find_element(By.XPATH,'//li[@class="searchForm_search_item__hr6Du form-group "]/div/input')
designation.send_keys('Data Analyst')

In [18]:
location = driver.find_element(By.XPATH,'//li[@class="searchForm_search_item__hr6Du form-group"]/div/input')
location.send_keys('Bangalore')

In [19]:
search1 = driver.find_element(By.XPATH,'//div[@class="searchForm_btnWrap_advance__VYBHN"]/button')
search1.click()

In [20]:
job_title=[]
job_location=[]
company_name=[]
experience_required =[]

In [21]:
#scraping job title from the given page 
title_tags= driver.find_elements(By.XPATH,"h2")
for i in title_tags:
    title=i.a.text.strip()
    job_title.append(title)

#scraping job location from the given page
location_tags= driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location = i.text
    job_location.append(location)
 
#scraping company name from the given page
company_tags= driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')                    
for i in company_tags:
    company=i.text
    company_name.append(company)
   
#scraping job experience from the given page
experience_tags= driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')  
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [22]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

0 20 20 20

In [23]:
import pandas as pd
df=pd.DataFrame({'Location':job_location[:10],'company_name':company_name[:10],'Experience':experience_required[:10]})
df

         Location                            company_name     Experience
0       Bangalore           ara resources private limited     4 to 9 Yrs
1   Bangalore\n+3       diraa hr services hiring for mncs      0 to 1 Yr
2  Bangalore\n+14                yogita staffing solution     0 to 3 Yrs
3   Bangalore\n+6                           techno endura      0 to 1 Yr
4  Bangalore\n+18                  future solution centre  15 to >25 Yrs
5       Bangalore  boyen haddin consulting and technol...     3 to 6 Yrs
6       Bangalore  boyen haddin consulting and technol...     3 to 6 Yrs
7       Bangalore  boyen haddin consulting and technol...     3 to 6 Yrs
8       Bangalore  boyen haddin consulting and technol...     3 to 6 Yrs
9   Bangalore\n+4                         quiscon biotech     0 to 2 Yrs

In [ ]:
#Q2. Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [24]:
driver=webdriver.Chrome()

In [25]:
driver.get("https://www.shine.com/")

In [26]:
search = driver.find_element(By.XPATH,'//span[@class="btn"]')
search.click()

In [27]:
designation = driver.find_element(By.XPATH,'//li[@class="searchForm_search_item__hr6Du form-group "]/div/input')
designation.send_keys('Data Scientist')

In [28]:
location = driver.find_element(By.XPATH,'//li[@class="searchForm_search_item__hr6Du form-group"]/div/input')
location.send_keys('Bangalore')

In [29]:
search1 = driver.find_element(By.XPATH,'//div[@class="searchForm_btnWrap_advance__VYBHN"]/button')
search1.click()

In [30]:
job_title=[]
job_location=[]
company_name=[]

In [31]:
#scraping job title from the given page 
title_tags= driver.find_elements(By.XPATH,"h2")
for i in title_tags:
    title=i.a.text.strip()
    job_title.append(title)

#scraping job location from the given page
location_tags= driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location = i.text
    job_location.append(location)
 
#scraping company name from the given page
company_tags= driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')                    
for i in company_tags:
    company=i.text
    company_name.append(company)

In [32]:
print(len(job_title),len(job_location),len(company_name))

0 20 20

In [33]:
import pandas as pd
df=pd.DataFrame({'Location':job_location[:10],'company_name':company_name[:10]})
df

         Location                            company_name
0   Bangalore\n+3  gujarat facility services hiring fo...
1  Bangalore\n+15                      renuka interprises
2  Bangalore\n+15                      renuka interprises
3  Bangalore\n+15                      renuka interprises
4   Bangalore\n+4           acme services private limited
5       Bangalore                     ltimindtree limited
6   Bangalore\n+1                                 fractal
7  Bangalore\n+14                yogita staffing solution
8   Bangalore\n+1                                neostats
9   Bangalore\n+1                                   aereo

In [123]:
#Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#6. Brand
#7. Product Description
#8. Price
#The attributes which you have to scrape is ticked marked in the below image.

In [168]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [169]:
driver=webdriver.Chrome()

In [170]:
driver.get("https://www.flipkart.com/")

In [171]:
product = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
product.send_keys('sunglasses')

In [172]:
search = driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [173]:
brand_names=[]
product_descriptions=[]
prices=[]
offers=[]

In [174]:
start=0
end=2
for page in range(start,end):
    brand_tags = driver.find_elements(By.CLASS_NAME,'_2WkVRV')
    for i in brand_tags:
        brand_names.append(i.text)
 
    product_description_tags = driver.find_elements(By.CLASS_NAME,'IRpwTa')
    for i in product_description_tags:
        product_descriptions.append(i.text)

    price_tags= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        prices.append(i.text)    
  
    offer_tags= driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in offer_tags:
        offers.append(i.text)

    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]/span')
    next_button.click()
    time.sleep(60)

In [176]:
print(len(brand_names),len(product_descriptions),len(prices),len(offers))

80 80 80 80

In [177]:
import pandas as pd
df=pd.DataFrame({'Brand Name':brand_names[:100],'Product Description':product_descriptions[:100],'Price':prices[:100],'Offer':offers[:100]})
df

# I am getting error If I go to 3rd page in for loop. Hence I have fetched only 80 values from 2pages

,Brand Name,Product Description,Price,Offer
0,Eyenaks,UV Protection Rectangular Sunglasses (Free Size),₹346,76% off
1,NuVew,"UV Protection Sports, Wrap-around Sunglasses (70)",₹499,68% off
2,ROADWAY,"UV Protection Wayfarer, Sports, Spectacle , Re...",₹129,90% off
3,SRPM,UV Protection Wayfarer Sunglasses (50),₹169,86% off
4,ROADWAY,UV Protection Retro Square Sunglasses (Free Size),₹169,86% off
...,...,...,...,...
75,Elligator,UV Protection Wayfarer Sunglasses (53),₹169,86% off
76,NuVew,"UV Protection Wayfarer, Rectangular Sunglasses...",₹485,72% off
77,NuVew,UV Protection Sports Sunglasses (73),₹332,73% off
78,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹644,74% off
79,NuVew,UV Protection Sports Sunglasses (62),₹325,73% off

In [ ]:
#Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
#You have to scrape 3 attributes of each sneaker:
#1. Brand
#2. Product Description
#3. Price

In [80]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [81]:
driver=webdriver.Chrome()

In [83]:
driver.get("https://www.flipkart.com/")

In [84]:
product = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
product.send_keys('sneakers')

In [85]:
search = driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [86]:
B_name=[]
P_desc=[]
Price=[]

In [87]:
start=0
end=3
for page in range(start,end):
    b_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in b_name:
        B_name.append(i.text)
 
    p_desc=driver.find_elements(By.XPATH,"//*[contains(@class, 'IRpwTa')]")
    for i in p_desc:
        P_desc.append(i.text)
    
    price =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]') 
    for i in price:
        Price.append(i.text)    

    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]/span')
    next_button.click()
    time.sleep(30)

In [88]:
print(len(B_name),len(P_desc),len(Price))

120 120 120

In [89]:
import pandas as pd
df=pd.DataFrame({'Brand Name':B_name[:100],'Product Description':P_desc[:100],'Price':Price[:100]})
df

   Brand Name                                Product Description   Price
0      BRUTON  Combo pack of 2 Trendy Sneaker Shoes Walking S...    ₹549
1      VECHLO  Trendy | Sport |Fashion Sneaker | Gym | Runnin...    ₹567
2   Deals4you                                 Sneakers For Women    ₹299
3    URBANBOX  Trending Stylish Casual Outdoor Shoes Sneakers...    ₹299
4    RED TAPE  Casual Sneaker Shoes for Men | Soft Cushioned ...  ₹1,737
..        ...                                                ...     ...
95   RED TAPE  Casual Sneaker Shoes for Men | Soft Cushioned ...  ₹1,231
96      asian  Moscow-01 White Sneakers,Loafers,Chunky Shoes ...    ₹823
97     BRUTON  Combo pack of 2 Trendy Men’s Casual Shoes Snea...    ₹549
98       ATOM                                   Sneakers For Men  ₹1,089
99   Shoe Lab                                 Sneakers For Women    ₹399

[100 rows x 3 columns]

In [ ]:
#Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:

In [91]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [92]:
driver=webdriver.Chrome()

In [93]:
driver.get("https://www.amazon.in/")

In [94]:
product = driver.find_element(By.XPATH,'//input[@class="nav-input nav-progressive-attribute"]')
product.send_keys('Laptop')

In [95]:

search = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()